/* fallback message */
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}



/* overview */

#overview { display: none }



.impress-enabled .step {
  margin: 0;
  opacity: 0;
}


/* fix clicking of 3D positioned objects */

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }






article.code {
  background-color: #fbeecb;
}
article.code section {
  color: black;
}
article.programming {
  background-color: white;
  opacity: 0.95;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html .content {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

a:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  border-bottom-color: inherit;
}



body {
  background: #111111;
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  color: white;
}

.impress-enabled .step {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  
  display: block;
  width: 900px;
}


.impress-enabled .step.active {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  opacity: 1;
}

.impress-enabled .step.active .content > * {
  opacity: 1;
}

.impress-enabled .step.active .content > *:nth-child(1) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0s;
}

.impress-enabled .step.active .content > *:nth-child(2) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.1s;
}

.impress-enabled .step.active .content > *:nth-child(3) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.2s;
}

.impress-enabled .step.active .content > *:nth-child(4) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.3s;
}

.impress-enabled .step.active .content > *:nth-child(5) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.4s;
}

.impress-enabled .step.active .content > *:nth-child(6) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.5s;
}

.impress-enabled .step.active .content > *:nth-child(7) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.6s;
}

.impress-enabled .step.active .content > *:nth-child(8) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.7s;
}

.impress-enabled .step.active .content > *:nth-child(9) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.8s;
}

.impress-enabled .step.active .content > *:nth-child(10) {
  -webkit-transition: opacity 0.5s linear;
  -webkit-transition-delay: 0.9s;
}

section {
  color: #f2f2f2;
  text-align: center;
}

section .content {
  padding: 1em;
  word-break: break-word;
}

section h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 0;
}

section h2 {
  font-size: 3em;
  font-weight: 300;
  margin: 0;
}

section h3 {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}

section h4 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}

section .underline {
  border-bottom: 0.1em solid white;
}

section .strikethrough {
  text-decoration: line-through;
  color: #999999;
}

section .byline, section .row {
  margin: 15px 0;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
}

section .byline {
  /*font-size: 1em;*/
  color: #a6a6a6;
}

section .byline::before, section .byline::after {
  content: "";
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  height: 0;
  padding-top: 1px;
  border-bottom: 1px dotted #595959;
}
section .byline::before {
  margin-right:.5em;
}
section .byline::after {
  margin-left:.5em;
}

section .unbrokenline {
  border-bottom: 1px dotted #595959;
  margin: 30px 0 30px;
}

section .classy {
  font-size: 1.2em;
  font-family: kepler-std, Georgia, serif;
  font-weight: 300;
  font-style: italic;
}

section .classy.large {
  font-size: 2.5em;
}

section .me {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  background-image: url("../img/jared.jpg");
  background-size: 100px;
}

pre, code {
/*  font-family: source-code-pro, "Monaco", courier, monospace;*/
  font-size: 1.1em;
  font-weight: 400;
  text-align: left;
}

pre {
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  margin: 10px;
  vertical-align: top;
}

pre > code {
  overflow-y: scroll;
  max-height: 540px;
}

.bespoke-bullet {
  display: none;
}

.bespoke-bullet.bespoke-bullet-last-active {
  display: block;
}

section ul {
  text-align: left;
}

section aside {
    display: none;
}

.show-note {
    display: block;
}